:root {
    /* --main-bg-background: #224d74; */
    --main-bg-color: #F2F2F2;
    --sidebar-bg-color: #173450;
    --sidebar-item-list-color: #2a5175;
    --sidebar-color-hover: #375c8c;

    --titles-color: black;
}

body {
  background-color: var(--main-bg-color);
  height: 100vh;
}

.main {
  margin: 40px 10px 10px 10px;


  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main button {
  color: black;
  background-color: #f79028;
  /* padding: 5px 10px 5px 10px;
      border: none;
      cursor: pointer; */
}

.btn-cancel {
  background-color: #989898 !important;
}

.btn-right {
  float: right;
}

.titles {
  font-size: 20px;
  color: #ffffff;
  /* background-color: #224d74 !important; */
  color: var(--titles-color)
}

.search {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 10px;
}

label {
  color: #020202;
}

.input-blocked {
  background-color: #d4d4d4 !important;
}

/* table thead {
  background-color: #224d74;
  color: #ffffff;
} */

table tbody {
  background-color: #ffffff;
}

svg {
  color: black !important;
  cursor: pointer !important;
}

.a {
  fill: #fff;
}

.b {
  fill: #f79028;
}


/* App */

#app {
  display: flex !important;
  position: relative !important;
}

#root, #app {
  height: 100%;
}

#app main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Sidebar */

.sidebar-header {
  padding: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pro-sidebar-inner, .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item,
.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  background-color: var(--sidebar-bg-color) !important;
}

.pro-icon > svg {
 color: white !important;
 font-size: 30px !important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: var(--sidebar-item-list-color) !important;
}

.pro-sidebar .pro-menu .pro-menu-item {
  font-size: 16px !important;
  color: #fff !important;
}

.pro-sidebar .pro-menu .pro-menu-item > div:hover{
  /* background-color: (red !important; */
  background-color: var(--sidebar-color-hover) !important;
}


.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item:hover {
  background-color: var(--sidebar-item-list-color) !important;
}